html 
{
    overflow-x:  auto; 
}
body
{
    overflow-x: hidden;
    background: rgb(58,58,58);
    color: white;
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    min-width: 1200px;
}
a
{
    cursor: pointer;
    color: turquoise;
}

/*HEADER ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

.toggler
{
    display: none;
}

header
{
    display: block;
    background: black;
    height: 100px;
    padding: 10px;
    text-align: center;
    margin: 0px;
}
header a
{
    z-index: 1;
    color: white;
    text-decoration: none;
}

nav
{
    height: 100%;
}
nav .menu
{
    width: 100%;
    height: 100%;
}

nav .links
{
    margin: 0 auto;
    width: 60%;
}
nav .links .nav-link
{
    position: relative;
    vertical-align: middle;
}
nav .links .nav-link a
{
    z-index: 99;
    cursor: pointer;
    padding: 10px;
    margin: 0px 10px;
    position: relative;
    top: 0;
    font-size: 20px;
}
nav .links ul a li p
{
    text-transform: none;
    color: rgb(200,200,200);
    font-size: 18;
}
nav .menu div ul
{
    vertical-align: middle;
}

nav .nav-link a::before
{    
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 0%;
    height: 0%;
    border-top: 2px solid white;
    border-left: 2px solid white;
    opacity: 0;
    transition: .5s;
}
nav .nav-link a:hover::before
{
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: 0;
}
nav .nav-link a::after
{    
    content: "";
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 0%;
    height: 0%;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    opacity: 0;
    transition: .5s;
}
nav .nav-link a:hover::after
{
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: 0;
}

nav .current-page
{
    position: relative;
    vertical-align: middle;
}
nav .current-page a
{
    z-index: 99;
    cursor: pointer;
    padding: 10px;
    margin: 0px 10px;
    position: relative;
    top: 0;
    font-size: 20px;
}
nav .current-page a::before
{
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 5px;
    width: 80%;
    border-bottom: 2px solid white;
    opacity: 1;
    border-radius: 10%;
}


nav ul
{
    margin: 0px;
    padding: 0px;
}
nav li
{
    display: inline-block;
}

nav .title
{
    display: inline-block;
    position: relative;
    text-align: center;
    z-index: 1;
    opacity: 1;
    margin: 0 0 20px 0;
}
nav .title h1
{
    transition: font-size 0.5s linear;

    height: 26px;
    text-align: center;
    margin: 0px 0px 5px 0px;
    padding: 0px;
}
nav .title h1:hover
{
    font-size: 26px;

}
nav .title p
{
    margin: 0px;
    padding: 0px;
}

nav .icon
{
    display: flex;
    float: left;
    width: 20%;
    height: 100%;
}
nav .icon img
{
    width: 100px;
    vertical-align: middle;
    padding: 0px;
    margin: 0px 5px;
}
nav .social
{
    display: flex;
    float: right;
    width: 20%;
    height: 100%;
}
nav .social ul
{
    height: 40px;
    margin: auto 20px auto auto;
}
nav .social li img
{
    width: 40px;
    vertical-align: middle;
    padding: 0px;
    margin: 0px 5px;
}

/*HEADER ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/