/*SECTIONS ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

section
{
    background: rgb(30,30,30);
    position: relative;
    width: 1200px;
    min-width: 620px;
    margin: 0px;
}

.main-section
{
    display: block;
    justify-items: center;

    margin-left: auto;
    margin-right: auto;
    height: auto;
    position: relative;
    background-size: 100%;
    padding: 0px 0 50px 0;
    transform: translate(0, -16px);
}
.main-section ul
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
}
.main-section ul li
{
    display: block;
}
.main-section ul li h2
{
    text-align: center;
    font-size: 30px;
    margin-bottom: 200px;
}
.main-section ul li p
{
    text-align: center;
    color: rgb(220, 220, 220);
}

.main-section .profile-2
{
    position: absolute;
    left:-50px;
    z-index: -999;
    width: 347px;
    height: 635px;
    background: linear-gradient(to left, rgba(30,30,30,1) 0%, rgba(30,30,30,0.8) 20%, rgba(30,30,30,0) 60%, rgba(30,30,30,0) 85.5%, rgba(58,58,58,1) 85.5%, rgba(58,58,58,1) 100%), url("images/profile_2.png");
    background-size: cover;
}
.main-section .profile-3
{
    position: absolute;
    right: 0px;
    z-index: -999;
    width: 347px;
    height: 635px;
    background: linear-gradient(to right, rgba(30,30,30,1) 20%, rgba(30,30,30,0.8) 40%, rgba(30,30,30,0) 80%, rgba(30,30,30,0) 85.5%), url("images/profile_3.png");
    background-size: cover;
}
.main-section .profile-2 img
{
    width: 100%;;
}
.main-section .profile-3 img
{
    width: 100%;;
}

.main-section .pic-collage
{
    width: 100%;
}
.main-section li ul
{
    position: absolute;
    top: 28%;
    left: calc(50% - 600px);
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 1200px;
    justify-content: center;
    align-content: center;
}
.main-section li ul .profile-1
{
    position: absolute;
    translate: -50%;
    left: 50%;
    transition: width 0.5s linear, height 0.5s linear, margin-left 0.5s linear, margin-top 0.5s linear;
    display: flex;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    background-color: black;
    margin: auto;
    justify-content: center;
}
.main-section li ul .profile-1 div
{
    margin: auto;
    height: 80%;
    width: 80%;
}
.main-section li ul li div
{
    margin: auto;
    height: 90%;
    width: 80%;
}
.main-section li ul .profile-1 div img
{
    transition: margin-left 0.5s linear, margin-top 0.5s linear;
    text-indent: -999999px;
    height: 100%;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 50%;
}
.main-section li li:hover
{
    height: 190px;
    width: 190px;
    transition-duration: 0.3s;
}

.main-section a
{
    width: 60px;
    align-self: center;
}
.main-section a:hover > .contact-button
{
    background-color: rgb(255,255,255);
    cursor: pointer;
}
.main-section a::selection > .contact-button
{
    background-color: rgb(100,100,100);
    cursor: pointer;
}
.contact-button
{
    background-color: rgb(225,225,225);
    width: auto;
    padding: 15px 20px 15px 20px;
    border-radius: 25px;
    color: black;
    border: none;
    margin-top: 20px;
}

/*SECTIONS |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
