/*SECTIONS ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

section
{
    background: rgb(30,30,30);
    position: relative;
    width: 80%;
    min-width: 620px;
    margin: 0px;
}

.main-section
{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    position: relative;
    background-size: 100%;
    padding: 30px 0 30px 0;
}

p
{
    color: #a9a9a9;
}

.title
{
    display: block;
    width: 100%;
}
.title h1
{
    margin: 0 auto 30px auto;
    display: block;
    align-self: center;
    width: auto;
    text-align: center;
}
.title p
{
    margin: 0 auto 30px auto;
    display: block;
    align-self: center;
    width: auto;
    text-align: center;
}

.discription
{
    display: block;
    width: 100%;
    text-align: center;
    margin: 20px 0;
}
.discription img
{
    vertical-align: middle;
    width: 480px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    margin: 0 40px;
}
.discription p
{
    width: 35%;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.8;
    margin: 0 40px;
}

.creation
{
    display: block;
    width: 100%;
    text-align: center;
    margin: 20px 0;
}
.creation h2
{
    display: block;
    width: 100%;
    text-align: left;
    margin: 20px 0;
    padding-left: 40px;
}
.creation p
{
    display: block;
    width: calc(100% - 80px);
    text-align: left;
    margin: 20px 40px;
}
.creation .sketchfab-embed-wrapper
{
    display: block;
    margin: 20px auto 5px auto;
}
.creation .creation-images
{
    display: flex;
    width: 100%;
    margin: 5px 40px 20px 40px;
}
#MSB_gameplay_2
{
    display: inline-block;
    width: calc(50% - 45px);
    margin: 0 5px 0 0;
}
#MSB_gameplay_3
{
    display: inline-block;
    width: calc(50% - 45px);
    margin: 0 0 0 5px;
}

.ymal
{
    display: block;
    width: 100%;
    text-align: center;
    margin: 0px 0;
}
.ymal h2
{
    display: block;
    width: 100%;
    text-align: left;
    margin: 20px 40px;
}
/*SECTIONS |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/