/*SECTIONS ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

section
{
    background: rgb(30,30,30);
    position: relative;
    width: 80%;
    min-width: 620px;
    margin: 0px;
}

.main-section
{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    position: relative;
    background-size: 100%;
    padding: 30px 0 30px 0;
}

p
{
    color: #a9a9a9;
}

.title
{
    display: block;
    width: 100%;
}
.title h1
{
    margin: 0 auto 30px auto;
    display: block;
    align-self: center;
    width: auto;
    text-align: center;
}
.title p
{
    margin: 0 auto 30px auto;
    display: block;
    align-self: center;
    width: auto;
    text-align: center;
}

.discription
{
    display: block;
    width: 100%;
    text-align: center;
    margin: 20px 0;
}
.discription img
{
    vertical-align: middle;
    width: 480px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    margin: 0 40px;
}
.discription p
{
    width: 35%;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.8;
    margin: 0 40px;
}

.making-of
{
    display: block;
    width: 100%;
    text-align: center;
    margin: 20px 0;
}
.making-of h2
{
    display: block;
    width: 100%;
    text-align: left;
    margin: 20px 0;
    padding-left: 40px;
}
.making-of p
{
    display: block;
    width: calc(100% - 80px);
    text-align: left;
    margin: 20px 40px;
}
.making-of .creation-images
{
    display: flex;
    flex-wrap: nowrap;
    width: calc(100% - 80px);
    margin: 5px 40px 20px 40px;
}
.making-of .creation-images img
{
    display: inline-block;
    width: auto;
    margin: 0px 5px;
}

.resulting-level
{
    display: block;
    width: 100%;
    text-align: center;
    margin: 20px 40px;
}
.resulting-level div
{
    display: block;
}
.resulting-level div iframe
{
    float: right;
    vertical-align: middle;
    width: 480px;
    height: 300px;
    vertical-align: middle;
}
.resulting-level div div
{
    width: 50%;
    vertical-align: middle;
    margin: 0 40px 0 0px;
    float: left;
}
.resulting-level div div h2
{
    text-align: left;
}
.resulting-level div div p 
{
    text-align: left;
}

.resulting-level-images-1
{
    width: calc(100% - 80px);
    display: flex;
    flex-wrap: nowrap;
    margin: 0 40px 0 40px;
}
.resulting-level-images-1 img
{
    display: inline-block;
    margin: 0 5px 0 0;
}

.resulting-level-images-2
{
    width: calc(100% - 80px);
    display: flex;
    flex-wrap: nowrap;
    margin: 0 40px 40px 40px;
}
.resulting-level-images-2 img
{
    display: inline-block;
    margin: 0 5px 0 0;
}

.ymal
{
    display: block;
    width: 100%;
    text-align: center;
    margin: 0px 0;
}
.ymal h2
{
    display: block;
    width: 100%;
    text-align: left;
    margin: 20px 40px;
}
/*SECTIONS |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/